Repository yezz123/authx, pull requests merged in 2024-12, with the labels that each got.

#709 ✨ Support async sessions
  authx/_internal/_memory.py
  authx/_internal/_utils.py
  tests/internal/test_memory.py
  uv.lock
Labels: feature

#711 🔧 Enhance the Project Dependencies to be fully migrated to UV
  .github/workflows/ci.yml
  authx/_internal/_callback.py
  authx/_internal/_error.py
  authx/_internal/_logger.py
  authx/_internal/_memory.py
  authx/_internal/_signature.py
  authx/_internal/_utils.py
  authx/config.py
  authx/core.py
  authx/dependencies.py
  authx/exceptions.py
  authx/main.py
  authx/schema.py
  authx/token.py
  authx/types.py
  pyproject.toml
  requirements-docs.txt
  tests/app/conftest.py
  tests/app/test_access_location.py
  tests/app/test_blocklist_token.py
  tests/app/test_fresh_token.py
  tests/app/test_get_subject.py
  tests/app/test_token_protected_access.py
  tests/internal/test_signature.py
  tests/internal/test_utils.py
  tests/test_authx.py
  tests/test_core.py
  tests/test_dependencies.py
  tests/test_errors.py
  tests/test_implicit_middleware.py
  tests/test_schema.py
  tests/test_token.py
  tests/utils.py
  uv.lock
Labels: internal

#718 📝 Update documentation for installation and command usage
  docs/development/contributing.md
  docs/index.md
Labels: docs

#721 🗑️ Deprecate MemoryIO class and associated tests
  authx/_internal/__init__.py
  authx/_internal/_memory.py
  docs/api/extra/cache.md
  docs/api/extra/metrics.md
  docs/api/extra/oauth2.md
  docs/api/extra/profiler.md
  docs/api/extra/session.md
  docs/api/internal/extra/memory.md
  docs/api/internal/memory.md
  mkdocs.yml
  tests/internal/test_memory.py
  tests/internal/test_signature.py
Labels: internal

#722 📝 Update installation instructions to simplify pip install command
  docs/extra/Cache.md
  docs/extra/Metrics.md
  docs/extra/profiler.md
  docs/release.md
Labels: docs

#723 🔧 Update release workflow to use `astral-sh/setup-uv`
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: internal
